<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="login.html">Studying system</a>
            </div>
        </div>
    </nav>

    <form role="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="login">Login:</label>
            <input class="form-control" id="login" name="login" placeholder="Enter login">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
        </div>
        <div class="form-group">
            <button type="submit" id="button" class="btn btn-default">Log in</button>
            <label id="labelError" for="button" style="color: red">{{login_error}}</label>
        </div>
    </form>
</div>
</body>
</html>