<!DOCTYPE html>
<head>
    {% load staticfiles %}
    <title>Studying system</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='{% static "professorMain.js" %}'></script>
</head>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Studying system</a>
            </div>
            <ul class="nav navbar-nav" id="navigationBar">
                <li id="profNot" class="active"><a id="profNotification">Notifications <span
                        class="badge" id="msgs"></span></a>
                </li>
                <li id="profMarks"><a id="showMarks">Marks</a></li>
                <li id="profHomework"><a id="createHomework" onclick="loadContent('profHomework')">Homeworks</a>
                </li>
                <li id="profSearch"><a id="profSearch">Search</a></li>
                <li><a href="../logout/">Logout</a></li>
            </ul>
        </div>
    </nav>


    <div id="professorMarks" style="display: none">
        <div id="semestersDiv">
            <select name="semesters" id="semesters">
            </select>
        </div>
        <br/>

        <div style="display: none" id="subjectsDiv">
            <select id="subjectSelect">
            </select>
        </div>
        <br/>
        <br/>

        <div style="display: none" id="homeworkDiv">
            <select id="homeworkSelect">
            </select>
        </div>

        <form role="form">
            <table class="table" id="marksProf">
                <thead>
                <tr>
                    <th>Student name</th>
                    <th>Subject code</th>
                    <th>Homework name</th>
                    <th>Grade</th>
                </tr>
                </thead>
                <tbody id="marksBody">
                </tbody>
            </table>
        </form>
        <div class="modal fade" id="changeGrade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Grade homework</h4>
                    </div>
                    <form id="formGrade" onsubmit="return validateForm()" method="POST">{% csrf_token %}
                        <div class="modal-body">
                            <input type="hidden" name="hiddenInputHomeworkUserId" id="hiddenInputId"/>
                            <input type="hidden" name="hiddenInputHomeworkId" id="hiddenInputHomeworkId"/>

                            <label>Homework name:</label><br/>
                            <span id="homeworkName"></span>
                            <br/><br/>

                            <label>Homework description:</label><br/>
                            <span id="homeworkDescription"></span>
                            <br/><br/>

                            <label>Student name:</label><br/>
                            <span id="homeworkStudentName"></span>
                            <br/><br/>

                            <label>Student answer:</label><br/>
                            <span id="homeworkStudentAnswer"></span>
                            <br/><br/>

                            <label>Grade:</label><br/>
                            <input name="homeworkGrade" id="homeworkGrade" type="text"/>
                            <label for="homeworkGrade" id="errorLabel" style="color: red; display: none"> Error! Grade
                                must be between 1 and 5!</label>
                            <br/><br/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <button type="submit" id="saveGradeButton" class="btn btn-primary">Save
                                changes
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div id="professorHomework" style="display: none">

        <div id="semestersDiv" style="display: inline">
            <label>Semester</label><br/>
            <select id="semestersHomework">
            </select>
        </div>
        <br/>
        <div style="display: inline">
            <label>Subject</label><br/>
            <select id="subjectSelectHome">
                <option disabled>Select subject</option>
            </select>
        </div>
        <button class="btn pull-right" id="createNewHomeworkButton">Create</button>


        <br/>
        <div id="hwListDiv">
            <form role="form">
                <table class="table" id="hwList">
                    <thead>
                    <tr>
                        <th>Homework name</th>
                        <th>Homework description</th>
                    </tr>
                    </thead>
                    <tbody id="hwBody">
                    </tbody>
                </table>
            </form>
        </div>
        <div class="modal fade" id="homeworkEdit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Grade homework</h4>
                    </div>
                    <form id="formEdit" onsubmit="return validateForm()" method="POST">{% csrf_token %}
                        <input type="hidden" id="hiddenInputHomeworkEdit" name="hiddenInputHomeworkEdit"/>
                        <div class="modal-body">

                            <label>Homework name:</label><br/>
                            <input id="homeworkNameEdit" name="homeworkNameEdit"/>
                            <br/><br/>

                            <label>Homework description:</label><br/>
                            <input id="homeworkDescriptionEdit" name="homeworkDescriptionEdit"/>
                            <br/><br/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <button type="submit" id="saveeditedHomework" class="btn btn-primary">Save
                                changes
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-dialog" style="display: none; z-index: 500000000" id="homeworkDivCreation">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title">Create homework</h4>
                </div>
                <form id="creationForm" onsubmit="return validateFormCreate()" method="POST">{% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" id="subjectHWCreationId" name="subjectHWCreation"/>
                        <label>Semester <span style="color: red">*</span></label><br/>
                        <select id="semestersHomeworkNew">
                        </select>

                        <br/>
                        <label>Subject <span style="color: red">*</span></label><br/>
                        <select id="subjectSelectHomeNew">
                            <option disabled>Select subject</option>
                        </select>
                        <br/><br/>
                        <label>Homework name <span style="color: red">*</span></label><br/>
                        <input name="hwNameCreation" id="hwNameCreationId"/>
                        <br/><br/>

                        <label>Homework description <span style="color: red">*</span></label><br/>
                        <input name="hwDescriptionCreation" id="hwDescriptionCreationId"/>
                        <br/><br/>


                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeCreationForm" class="btn btn-default" data-dismiss="modal">Close
                        </button>
                        <button type="submit" id="saveHWButton" class="btn btn-primary pull-right">Save
                            changes
                        </button>

                    </div>
                    <label style="display: none" id="saved">Homework is saved successfully!</label>
                </form>

            </div>
        </div>
    </div>
    <div id="professorNotifications" style="display: none">
        <form role="form">
            <table class="table" id="notifProf">
                <thead>
                <tr>
                    <th>From</th>
                    <th>Subject</th>
                </tr>
                </thead>
                <tbody id="notifBody">
                </tbody>
            </table>
        </form>

        <div class="modal fade" id="readMessage">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <form id="formNotif" method="POST">{% csrf_token %}
                        <input type="hidden" id="notificId"/>
                        <div class="modal-body">
                            <div>
                                <label>From:</label><br/>
                                <span id="from"></span>
                            </div>
                            <hr>

                            <div>
                                <label>Subject:</label><br/>
                                <span id="topic"></span>
                            </div>
                            <hr>
                            <div>
                                <label>Text:</label><br/>
                                <span id="textNotif"></span>
                                <br/><br/>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="closeMsgButton" type="button" 
                                    class="btn btn-default" data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div id="professorSearch" style="display: none">

        <input id="sdName" name="sdtName" type="text" placeholder="Student name"/>


        <table class="table" id="detailedInfoTable" style="display: none">
            <thead>
            <tr>
                <th>Subject name</th>
                <th>Subject code</th>
                <th>Homework name</th>
                <th>Student answer</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tbody id="detailsBody">
            </tbody>
        </table>

    </div>


</div>
</html>